/* 
    Autor.- Nerea Ãlvarez Justel 
    Fecha de modificacion.- 2021/01/24
*/
/* -------- TIPOS -------- */
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@font-face {
    font-family: 'Pathway Gothic One';
}

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html{
    max-width: 100vw;
    max-height: 100vh;
}

body {
    width: 100%;
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
}

/* -------- HEADER -------- */


#header { 
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 220px;
    background-color: white;
}
.logo{
    position: fixed;
    top: 0;
}

h1{
    margin-left: 25px;
}
#persona{
    text-align: right;
    margin-right: 25px;
}

.github>img{
    width: 40px;
}

/* -------- MAIN -------- */

main {
    min-height: calc(100vh - 220px);
    margin-top: 50px;
}


.enter{
    text-align: center;
}
/* -------- FOOTER -------- */

footer {
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    border-top: 1px solid black;
    background-color: white;
}

footerP {
    font-size: 15px;
    padding: 10px 10px;
    margin-bottom: 30px;

}
footer a{
    text-decoration: none;
    color: black;
    padding-right: 25px;
}
footer a:hover{
    opacity: 0.6;
}

#footerIzq{
    width: 60%;
    float: left;
    text-align: left;
    margin-left: 50px;
}

#footerDec{
    width: 40%;
    float: left;
    text-align: right;
    margin-right: 30px;
}

/* -------- Formato de input -------- */
input{
    width:300px;
    font-size: 11pt;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    text-align: left;
    font-family: 'Pathway Gothic One', sans-serif;
}

/* -------- Posicion login -------- */
#loginIzq{
    width: 40%;
    float: left;
}
.posIzq{
    margin-left: 25%;
}

#loginDec{
    width: 60%;
    float: left;
    text-align: left;
}

input[write=""]{
    background: none;
    width:300px;
    font-size: 14pt;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    margin: auto;
    text-align: left;
}

input[readonly=""]{
    background: none;
    width:300px;
    font-size: 14pt;
    border: none;
    border-bottom: 3px solid #C8C8C8;
    border-radius: 5px;
    margin: auto;
    text-align: left;;
}

.idioma{
    border: none;
    background: white;
    color: black;
} 

form[name="formularioIdioma"]{
    position: absolute;
    top: 50px;
    right: 10px;
}

#fotoPerfil{
    width: 50px;
}

/* -------- BOTONES -------- */
 .button{
    margin-top: 20px;
    text-align: center; 
    width: 300px; 
    height: 40px; 
    font-size: 14pt;
    color: white;
    background-color: black;
    border:none;
    font-family: 'Pathway Gothic One', sans-serif;
}
.button:hover{
   opacity: 0.6;
}


.botonI{
    background-color: white;
    color: black;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 10px;
    width: 300px; 
    height: 40px; 
    font-size: 24pt;
    border: none;
    font-weight: bold;
    display: block;
    font-family: 'Pathway Gothic One', sans-serif;
}
.botonI:hover{
   opacity: 0.6;
}

.botonS{
    background-color: white;
    color: black;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 10px;
    width: 300px; 
    height: 40px; 
    font-size: 32pt;
    border: none;
    font-weight: bold;
    display: block;
    font-family: 'Pathway Gothic One', sans-serif;
    text-decoration: underline black;
}

#homeB{
    border: none;
    background: white;
    color: black;
    font-size: 14pt;
    position: absolute;
    top: 40px;
    right: 10px;
} 


.tablaCentro{
    display: flex;
    justify-content: space-around;
}

.tablaCentro td{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cabNom{
    text-align: left;
    font-weight: bold;
    font-size: 16pt;
}





.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 60%;
    height: 700px;
    background-size: cover;
}

.visual{
    background-color: black;
    color:white;
    width: 30px;
    border: none;
}
.visual:hover{
   opacity: 0.6;
}

#homeIzq{
    width: 70%;
    float: left;
    text-align: center; 
}

#homeDec{
    width: 30%;
    float: left;
    text-align: left;
    margin-top: 7%;
}
#homeDec a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#homeDec a p{
    margin-bottom: 25px; 
}
#play{
    background-color: black;
    color:white;
    width: 60px;
    height: 30px;
    border: none;
    font-family: 'Pathway Gothic One', sans-serif;
}
#play:hover{
    opacity: 0.6;
}
#stop{
    background-color: black;
    color:white;
    width: 60px;
    height: 30px;
    border: none;
    font-family: 'Pathway Gothic One', sans-serif;
}
#stop:hover{
    opacity: 0.6;
}